.attributes_name {
    font-size: 1.6rem;
    text-align: center;
    color: $purple;
    margin: 0;
}

.attributes_position {
    font-size: 1.1rem;
    text-align: center;
    color: $light-blue;
    margin-bottom: 0;
}

.attributes_city {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0;
}