.icon {
    height: 64px;
    width: 64px;
    transition: 250ms ease-in-out;
}

.icon:hover {
    transform: scale(1.3, 0.7);
}

.icon-x {
    height: 48px;
    width: 48px;
    transition: 250ms ease-in-out;
}

.icon-x:hover {
    transform: scale(1.2);
}

@media (max-width: 845px) {
    .icon {
        height: 48px;
        width: 48px;
    }

    .icon-x {
        height: 36px;
        width: 36px;
    }
}